
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .text-4xl {
    overflow: hidden; /* Ensures the text is not visible initially */
    white-space: nowrap; /* Prevents the text from wrapping */
    animation: typing 3s steps(40) infinite alternate; /* Adjust duration as needed */
  }
  @keyframes animateEmoji {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-emoji {
    display: inline-block;
    animation: animateEmoji 4s infinite;
  }

  .wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  .text-react{
    color: #01D1F7;
  }

  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .hover\:heartbeat:hover {
    animation: heartbeat 1s infinite;
  }


  /* styles.css */

.learn-react-container {
  display: flex;
}

.left-sidebar {
  width: 20%; /* Adjust the width as needed */
  background-color: #f0f0f0; /* Example background color */
}

.react-body {
  flex-grow: 1;
  padding: 20px; /* Adjust padding as needed */
}

  